@model TestNetCoreWebApp.Models.Restaurant

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>
	Details
</h3>
<h1>
	@Model.name
</h1>
<!-- @Html.ActionLink("Back", "Index") -->
<a asp-action="Index" asp-controller="Home">Back</a>
</body>
</html>