@model TestNetCoreWebApp.Models.Restaurant

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>
	Details
</h3>
<div>
	ID: @Model.id
</div>
<div>
	Name: @Model.name
</div>
<!-- @Html.ActionLink("Back", "Index") -->
<a asp-action="Index" asp-controller="Home">Back</a>
</body>
</html>