@model IEnumerable<TestNetCoreWebApp.Models.Restaurant>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table>
		@foreach (var rest in Model)
		{
			<tr>
				<td>
					@rest.id
				</td>
				<td>
					@rest.name
				</td>
			</tr>
		}
	</table>
@* <h3>@Model.name</h3>
<div>The name is @Model.id</div> *@

</body>
</html>